{#<div class="jumbotron">#}
{#  <h1>Bootstrap Tutorial</h1>#}
{#  <p>Dang Phuong Nam</p>#}
{#</div>#}
<footer style="width: 100%; background-color: #0b2239; color: white; padding: 20px; z-index: 1;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center text-md-start">
                <img src="/static/images/logo.jpg" alt="open_news_logo" style="width: 50px;">
                <p>&copy; 2024 | OPEN NEWS</p>
            </div>
            <div class="col-md-4 text-center">
                <ul style="list-style-type: none; padding: 0;">
                    <li><a href="#" style="color: white; text-decoration: none;">Privacy Policy</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Do not sell my personal info</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">Terms of Service</a></li>
                    <li><a href="#" style="color: white; text-decoration: none;">opennews.com Site Map</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center text-md-end">
                <a href="#" style="color: white; margin: 0 10px;"><i class="fas fa-rss"></i></a>
                <a href="#" style="color: white; margin: 0 10px;"><i class="fab fa-twitter"></i></a>
                <a href="#" style="color: white; margin: 0 10px;"><i class="fab fa-reddit"></i></a>
                <a href="#" style="color: white; margin: 0 10px;"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </div>
</footer>